.scroll-wrapper,
.scroll-wrapper-api {
  height: 300px;
  border: 1px solid #666;
  .scroll-item {
    display: grid;
    height: 40px;
    border-bottom: 1px dotted #666;
    place-items: center;
  }
}

.scroll-wrapper-h {
  display: flex;
  height: 80px;
  border: 1px solid #666;
  .scroll-item-h {
    display: grid;
    flex: 0 0 160px;
    height: 100%;
    border-right: 1px dotted #666;
    place-items: center;
  }
}
