$theme-blue: #176feb;
$theme-red: #ff5664;
$theme-green: #43bd76;
$theme-yellow: #e5e249;
$theme-light-blue: #7eb6ff;
$theme-light-red: #ff8686;
$theme-light-green: #a1e48d;
$theme-light-yellow: #f9ffa7;
